{% extends 'layout.html' %}

{% block body %}
<h1>File manger</h1>
<p> Welcome {{username}}</p>

<table class="table table-striped">
  <tr>
    <th>Your files:</th>
    <th></th>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{file}}</td>
    <td>
      <form action="http://localhost:5500/ostrowm4/app/download/{{file}}/{{username}}" method="POST"  id="form1">
        <div class="form-group">
          <input type="hidden" name="token" value={{token.decode('UTF-8')}} class="form-control-file" id="exampleFormControlFile3">
        </div>
        <button type="submit" class="btn btn-danger">Download</button>
      </form>
    </td>
    <td>
      <form action="http://localhost:5500/ostrowm4/app/createDownloadLink/{{file}}/{{username}}" method="POST"  id="form3">
        <div class="form-group">
          <input type="hidden" name="token" value={{token.decode('UTF-8')}} class="form-control-file" id="exampleFormControlFile4">
        </div>
        <button type="submit" class="btn btn-warning">Create download link</button>
      </form>
    </td>
    {% for record in dowloadUrls %}
    {% if file == record[1] %}
    <td>
      <p>File can be download at: </p><a href='http://localhost:5500/ostrowm4/app/urlDownload/{{record[0]}}'>http://localhost:5500/ostrowm4/app/urlDownload/{{record[0]}}</a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}

<form action="http://localhost:5500/ostrowm4/app/fileSubmitter/upload/{{username}}" method="POST" enctype="multipart/form-data" id="form1">
  <div class="form-group">
    <label for="exampleFormControlFile1">Submit your file:</label>
    <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
    <input type="hidden" name="token" value={{token.decode('UTF-8')}} class="form-control-file" id="exampleFormControlFile2">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
